# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Minecraft Dev IntelliJ
email: ""
description: Plugin for IntelliJ IDEA for Minecraft Development

collections:
  docs:
    output: true

defaults:
  - scope:
      path: ""
      type: docs
    values:
      layout: doc

# Build settings
markdown: kramdown

gems:
  - jemoji
