@media(max-width:400px){

    .site-title{
        font-size:16px;
    }

    h1.square{
        margin-top:-115px;
    }
}

@media(max-width:800px){
    h1.square{
        margin-top: -110px;
    }
}
